{
    "extends":"airbnb",
    "parserOptions":{
        "ecmaVersion": 6
    },
    "env":{
        "eslint.autoFixOnSave": true,
        "node": true,
        "browser": true,
        "es6": true
    }
}